@inject HttpClient Http

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email address</th>
            <th>Phone number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in AllContacts)
        {
            <tr>
                <td>@contact.FirstName @contact.LastName</td>
                <td>@contact.EmailAddress</td>
                <td>@contact.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private static List<Contact> AllContacts = new List<Contact>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Contact>>("api/contacts");
        if (result != null)
            AllContacts = result;
    }
}