@inject IContactClientService Service

@if (AllContacts.Count == 0) 
{
    <p>No contacts to show here</p>
}
else 
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email address</th>
                <th>Phone number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in AllContacts)
            {
                <tr>
                    <td>@contact.FirstName @contact.LastName</td>
                    <td>@contact.EmailAddress</td>
                    <td>@contact.PhoneNumber</td>
                    <td>
                        <a href=@($"contacts/{contact.ContactId}")>Edit</a>
                    </td>
                    <td>
                        <a @onclick="() => DeleteContact(contact.ContactId)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private static List<Contact> AllContacts = new List<Contact>();

    protected override async Task OnInitializedAsync()
    {
        AllContacts = await Service.GetAllContacts();
    }

    private async Task DeleteContact(long id) 
    {
        await Service.DeleteSingleContact(id);
    }
}