@page "/contact/new"
@inject IContactClientService ContactClientService
@inject NavigationManager NavigationManager

<h3>Add contact</h3>

<EditForm Model="contact" OnSubmit="Submit">
    <div>
        <label for="firstname">First Name</label>
        <InputText class="form-control" id="firstname" @bind-Value="contact.FirstName" />

        <label for="lastname">Last Name</label>
        <InputText class="form-control" id="lastname" @bind-Value="contact.LastName" />

        <label for="emailaddress">Email Address</label>
        <InputText class="form-control" id="emailaddress" @bind-Value="contact.EmailAddress" />

        <label for="phonenumber">Phone number</label>
        <InputText class="form-control" id="phonenumber" @bind-Value="contact.PhoneNumber" />

        <button class="btn btn-primary" type="submit">Add</button>
    </div>
</EditForm>
<ErrorMessage ShowError="showError"
              Message="errorMessage" />

@code {
    bool showError = false;
    string errorMessage = string.Empty;
    Contact contact = new Contact();

    async Task Submit() 
    {
        var result = await ContactClientService.AddNewContact(contact);

        if (result)
            NavigationManager.NavigateTo("");
        else
        {
            showError = true;
            errorMessage = "Contact couldn't be added. Check your input values.";
        }
    }
}
